<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'user_index.html'%}
{% block body %}


<!--<body>-->
<!--<form id="form1" name="form1" method="post" action="">-->
  <!--<table width="200" border="1"class="table table-hover">-->
    <!--<tr>-->
      <!--<td><div align="center"><strong>USER </strong></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="center"><a href="send_request_for_contractor1"><strong>SEND REQUEST FOR CONTRACTOR </strong></a></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="center"><a href="send_complaint1"><strong>SEND COMPLAINT AND VIEW REPLY </strong></a></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="center"><a href="send_feedback1"><strong>SEND FEEDBACK AND RATING TO CONTRACTOR </strong></a></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="center"><a href="chat_with_contractor"><strong>CHAT WITH CONTRACTOR </strong></a></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="center"><a href="view_plan"><strong>USER VIEW PLAN AND VERIFY </strong></a></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="center"><a href="view_time_schedule"><strong>VIEW TIME SCHEDULE AND VERIFY </strong></a></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--&lt;!&ndash;<td><div align="center"><a href="#"><strong>PAYMENT FOR WORK </strong></a></div></td>&ndash;&gt;-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="center"><a href="/"><strong>LOGOUT</strong></a></div></td>-->
    <!--</tr>-->
  <!--</table>-->
<!--</form>-->
<!--</body>-->

<!--</html>-->
{% endblock %}

