<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'user_index.html'%}
{% block body %}


<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1"class="table table-hover">
    <tr>
      <td>Work</td>

      <td>From date </td>
      <td>To Date </td>
      <td>&nbsp;</td>
    </tr>
    {% for i in val %}
    <tr>
      <td>&nbsp;{{i['work']}}</td>
      <td>&nbsp;{{i['from date']}}</td>
      <td>&nbsp;{{i['to date']}}</td>

      <td>{% if i['status']=='Accepted' %}Accepted {% elif i['status']=='Reject' %}Rejected {% else %}
        <p><a href="accept_sh?id={{i['shed_id']}}">Accept</a></p>
          <p><a href="reject_sh?id={{i['shed_id']}}">Reject</a></p> {% endif %}</td>
    </tr>
    {% endfor %}
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}

