<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--<style type="text/css">-->
<!--&lt;!&ndash;-->
<!--.style1 {font-family: "Times New Roman", Times, serif}-->
<!--&ndash;&gt;-->
<!--</style>-->
<!--</head>-->
{% extends 'contr_index.html'%}
{% block body %}
<!--<body>-->
<!--<form id="form1" name="form1" method="post" action="">-->
  <!--<table width="200" border="1"class="table table-hover">-->
    <!--<tr>-->
      <!--<td><div align="center"><strong><span class="style1">CONTRACTOR</span></strong></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--</tr>      <td><div align="center"><strong><a href="manage_worker1" class="style1">Add and manage workers </a></strong></div></td>-->

    <!--<tr>-->
      <!--<td><div align="center"><strong><a href="work_request1" class="style1">View request and verify and assign</a></strong></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="center"><a href="chatwithcontractor"><strong>Chat with User</strong></a></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="center"><strong><a href="upload_plan" class="style1">Upload plan</a></strong></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="center"><strong><a href="schedule1" class="style1">Add and manage time schedule </a></strong></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="center"><strong><a href="salary1" class="style1">Manage salary</a></strong></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="center"><strong><a href="rating" class="style1">View rating </a></strong></div></td>-->
    <!--</tr>-->
    <!--&lt;!&ndash;<tr>&ndash;&gt;-->
      <!--&lt;!&ndash;<td><div align="center"><strong><a href="schedule1" class="style1">Add and manage time schedule </a></strong></div></td>&ndash;&gt;-->
    <!--&lt;!&ndash;</tr>&ndash;&gt;-->
    <!--<tr>-->
      <!--<td><div align="center"><strong><a href="view_product3" class="style1">View product and send request</a></strong></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="center"><strong><a href="view_assigned_work" class="style1">View assigned work status</a></strong></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="center"><strong><a href="view_payment_details" class="style1">View payment details </a></strong></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="center"><strong><a href="workamount1" class="style1">Update work amount </a></strong></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="center"><strong><a href="/" class="style1">Logout</a></strong></div></td>-->
    <!--</tr>-->
  <!--</table>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->
{% endblock %}
