<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'contr_index.html'%}
{% block body %}

<body>
<form id="form2" name="form2" method="post" action="manage_worker2">
  <table width="200" border="1"class="table table-hover">
    <tr>
      <td>Name</td>
      <td>Address</td>
      <td>Phone</td>
      <td>email</td>
      <td>&nbsp;</td>
    </tr>
    {% for i in val %}
    <tr>
      <td>{{i['fname']}} {{i['lname']}}</td>
      <td>{{i['place']}} {{i['post']}} {{i['pin']}}</td>
      <td>{{i['phone']}}</td>
      <td>{{i['email']}}</td>
      <td><p><a href="edit_workers?id={{i['lid']}}">Edit</a><a href="#">t</a></p>
          <p><a href=delete_worker?id={{i['lid']}}">Delete</a></p></td>
    </tr>
        {% endfor %}

       <tr>
      <td colspan="5"><label>
        <input type="submit" name="Submit" value="Add" />
        </label>
      </td>
    </tr>
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}

