<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'contr_index.html'%}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="salary2">
  <table width="200" border="1"class="table table-hover">
    <tr>
      <td>Workernsme</td>
      <td>Salary</td>
      <td>Days</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      {% for i in val %}
      <td>{{i['fname']}} {{i['lname']}}</td>
      <td>{{i['salary']}}</td>
      <td>{{i['days']}}</td>
      <td><p><a href="edit_salary1?id={{i['sid']}}">Edit</a></p>
      <p><a href="delete_salary?id={{i['sid']}}">Delete</a></p></td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="5"><input type="submit" name="Submit" value="Add" /></td>
    </tr>
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}




