<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'contr_index.html'%}
{% block body %}

<body>
<form id="form2" name="form2" method="post" action="add_to_cart">
  <table width="229" border="1"class="table table-hover">
    <tr>
      <td width="171">Product name </td>
      <td width="42"><label>
      {{val['pname']}}
      </label></td>
    </tr>
    <tr>
      <td>Image</td>
      <td><label>
      {{val['image']}}
      </label></td>
    </tr>
    <tr>
      <td>Price</td>
      <td><label>
      {{val['price']}}
      </label></td>
    </tr>
    <tr>
      <td>Stock</td>
      <td><label>
        {{val['stock']}}
     </label>
      </td>
    </tr>
    <tr>
      <td>Quantity</td>
      <td><label>
      <input type="text" name="textfield5" required/>
      </label></td>
    </tr>
    <tr>
      <td colspan="2"><label>
        <input type="submit" name="Submit" value="Add" />
        </label>
      </td>
    </tr>
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}
