<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
<style type="text/css">
<!--
.style1 {font-weight: bold}
-->
</style>
</head>

<body>
<form id="form1" name="form1" method="post" action="logincode">
  <label></label>
  <table width="235" border="1">
    <tr>
      <td colspan="2"><strong>LOGIN FORM </strong></td>
    </tr>
    <tr>
      <td width="167"><strong>Username</strong></td>
      <td width="52"><label>
      <input type="text" name="textfield" />
      </label></td>
    </tr>
    <tr>
      <td><strong>Paasword</strong></td>
      <td><label>
      <input type="text" name="textfield2" />
      </label></td>
    </tr>
    <tr>
      <td colspan="2"><div align="right"><strong><a href="#">User Register </a></strong></div></td>
    </tr>
    <tr>
      <td colspan="2"><div align="right"><strong><a href="#">Vendor Register </a></strong></div></td>
    </tr>
    <tr>
      <td colspan="2"><input name="Submit" type="submit" class="style1" value="Login" /></td>
    </tr>
  </table>
</form>
</body>
</html>
