<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--<style type="text/css">-->
<!--&lt;!&ndash;-->
<!--.style2 {font-family: "Times New Roman", Times, serif; font-weight: bold; }-->
<!--&ndash;&gt;-->
<!--</style>-->
<!--</head>-->
{% extends 'aindex.html'%}
{% block body %}

<!--<body>-->
<!--<form id="form1" name="form1" method="post" action="">-->
  <!--<table width="200" border="1">-->
    <!--<tr>-->
      <!--<td><div align="center" class="style2">ADMIN</div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="center" class="style2"><a href="managecontractor">Add and Manage Contractor</a></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="center" class="style2"><a href="viewfeedback">View feedback about contractor</a></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="center" class="style2"><a href="rating_ad">View rating about contractor</a></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="center" class="style2"><a href="complaint_ad">View complaint and send reply</a></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="center" class="style2"><a href="/">Logout</a></div></td>-->
    <!--</tr>-->
  <!--</table>-->
<!--</form>-->
<!--</body>-->
{% endblock %}